ion-card {
  position: relative;
  text-align: center;
}

.item-md {
  padding-left: 8px;
}

ion-segment-button {
  text-align: center; //font-family: 'Arial', sans-serif;
  color: #01337a;
  font-family: 'Rammetto One', cursive;
  font-size: 1.2em;
  font-weight: 200;

}

