page-filter-model {

}
body,html {
  text-align: center;
  font-family: 'Arial', sans-serif;
}
ion-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.title{
  max-height: 50%;
  max-width: 60%;
  margin: 18px 60px;
}
.flex-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.menu-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 40%;
  min-height: 9rem;
  max-height: 9rem;
  border-radius: 25px;
  box-shadow: 2px 2px 2px #222;
  transition: all 0.3s ease-in;
}
.menu-tile:active {
  box-shadow: 2px 2px 2px #666;
  transform: translateY(4px);
}
.gray-tile {
  background: #77767b;
}

.pink-tile {
  background: #f677c4;
}

.green-tile {
  background: #00afaa;
}

.blue-tile {
  background: #01337a
}
